@import "tailwindcss"; 

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php'; 
@source '../../storage/framework/views/*.php'; 
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --text-2xs: 10px;

  /* Custom Fonts */
  --font-display: "Hanken Grotesk", "sans-serif";
}

/* File input fallbacks / styling */
input[type="file"] {
  color: white; 
}
input[type="file"]::-webkit-file-upload-button,
input[type="file"]::file-selector-button {
  background: #ffffff;
  color: #000000;
  padding: 1px, 1px;
  border-radius: 5px;
  border: none;
  font-size: 10px;
}